
*{ margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;

}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

#cabecalho{
    margin-block-end: auto;
    background-color: rgb(150, 95, 95);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(0, 0, 0);
    display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
font-size: 100px;
padding: 20px;
margin-bottom: 20px;
margin-top: 1px;
}

.nave{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 28px;
    margin-bottom: 20px;
    margin-top: 20px;
    page-break-after: auto;


}

.botao{
    display: flex;
    gap: 32px;
    }

.item-botao:hover{ 
background-color: rgb(169, 169, 179);    
border: none;
box-shadow: 4px 5px 4px rgb(17, 25, 41);
border-radius: 20px;
}